body {
  display: none;
}
.km-arrow-e:before {
    content: "\e000";
}
.km-inventory:after,
.km-inventory:before {
    content: "\e0ab";
}
.km-assemblies:after,
.km-assemblies:before {
    content: "\e0a6";
}